.main-header {
  height: auto;
  background-color: transparent;
  border-bottom: none;

  @media (max-width: 50rem) {
    display: none !important;   
  }
}

.side-bar {
  background-color: none;
  @media (min-width: 50rem) {
    display: none !important;   
  }
}

.icon {
  color: inherit;
}

.site-nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
