.main-header {
  height: auto;
  background-color: transparent;
  border-bottom: none;

  @media (max-width: 50rem) {
    display: none !important;   
  }
}

.side-bar {
  background-color: inherit;
  @media (min-width: 50rem) {
    display: none !important;   
  }
}

.icon {
  color: inherit;
}

.site-nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  float: right;
  width: auto;

  .nav-list {
    padding-left: 0px;
    padding-right: 0px;

    .nav-list-item {
      position: relative;
      list-style: none;
      float: left;
      padding: 0 20px;

      .nav-list-link {
        font-size: 16px;
        color: #000;
      }
    }
  }
}
