.main-header {
  height: auto;
  background-color: transparent;
  border-bottom: none;

  @media (max-width: 50rem) {
    display: none !important;   
  }
}

.side-bar {
  @media (min-width: 50rem) {
    display: none !important;   
  }
}
