<!-- Header -->
<header>
	<div class="">
    	<div class="row-fluid">
        	<div class="span6">
            	<div id="logo">
                    <a href="index.html" title="NAME">Andrew Smith</a>
        		</div>
            </div>
            <div class="span6">
        		<nav id="menu">
                    <ul id="menu-nav">
                        <li><a href="#work" id="work">view case studies</a></li>
                        <!-- <li><a href="about.html">about</a></li> -->
                        <!-- <li class="hidden-phone"><a href="contact.html" class="btn btn-inverse">contact</a></li>
                        <li class="visible-phone"><a href="contact.html">contact</a></li> -->
                    </ul>
                </nav>
        	</div>
        </div>
    </div>
</header>
<!-- End Header -->
