<!-- Header -->
<header>
	<div class="">
    	<div class="row-fluid">
        	<div class="span6">
            	<div id="logo">
                    <a href="{{ '/' | relative_url }}" title="NAME">{% include title.html %}</a>
        		</div>
            </div>
            <div class="span6">
							{% if page.nav_enabled == true %}
						    {% include components/sidebar.html %}
						  {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
						    {% include components/sidebar.html %}
						  {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
						    {% include components/sidebar.html %}
						  {% endif %}
        		<nav id="menu">
                    <ul id="menu-nav">
                        <li><a href="#portfolio" id="work">view case studies</a></li>
                        <!-- <li><a href="about.html">about</a></li> -->
                        <!-- <li class="hidden-phone"><a href="contact.html" class="btn btn-inverse">contact</a></li>
                        <li class="visible-phone"><a href="contact.html">contact</a></li> -->
                    </ul>
                </nav>
        	</div>
        </div>
    </div>
</header>
<!-- End Header -->
